# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Local configuration
local.properties

# Kotlin
*.kotlin_module

# Android
*.apk
*.ap_
*.dex

# iOS
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcworkspace/xcuserdata/
iosApp/Pods/
iosApp/.build/
*.xcuserstate

# Kotlin/Native
*.klib

# Compose
composeApp/build/
